# To route traffic (HTTP and the like) to services in Kubernetes you usually need a Ingress controller. We choose you Nginx!
---
apiVersion: flux.weave.works/v1beta1
kind: HelmRelease
metadata:
  name: nginx-ingress
  namespace: infrastructure
  annotations:
    flux.weave.works/automated: "true"
spec:
  releaseName: nginx-ingress
  chart:
    repository: https://kubernetes-charts.storage.googleapis.com/
    name: nginx-ingress
    version: 0.31.0
  values:
    tcp:
      22: "gitlab/gitlab-gitlab-shell:22"
    controller:
      replicaCount: 2
      ingressClass: nginx
      publishService:
        enabled: true # Ref: https://github.com/kubernetes-incubator/external-dns/blob/master/docs/faq.md#why-is-externaldns-only-adding-a-single-ip-address-in-route-53-on-aws-when-using-the-nginx-ingress-controller-how-do-i-get-it-to-use-the-fqdn-of-the-elb-assigned-to-my-nginx-ingress-controller-service-instead
      stats:
        enabled: true
      metrics:
        enabled: true
      service:
        enableHttp: true # Turn off?
        annotations:
          service.beta.kubernetes.io/azure-load-balancer-resource-group: k8s-infrastructure
      externalTrafficPolicy: "Local"

# Define a servicemonitor for the nginx-ingress so that Prometheus can scrape metrics
---
apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: nginx-ingress
  namespace: infrastructure
  labels:
    release: prometheus-operator
spec:
  endpoints:
  - interval: 5s
    port: metrics
  jobLabel: nginx-ingress
  namespaceSelector:
    matchNames:
    - infrastructure
  selector:
    matchLabels:
      app: nginx-ingress
